.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
}

.nav {
  overflow: hidden;
  background-color: #04645E;
  height: 65px;
  font-family: 'Avenir-Book', 'Avenir Book', 'Avenir';
}

.nav-link {
    float: left;
    color: #f2f2f2;
    background-color: #04645E;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
    font-size: 15px;
  
    /* these last two make the logout button in
    the nav bar look like another link */
    border:none;
    cursor: pointer;
  }
  
  .nav-link:hover {
    background-color: #008183;
  }
  
  .nav-link.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .nav-right {
    float: right;
  }

  .logo {
    height: 50px;
    width: 70px;
    margin: 10px;
  }

  .sign-out {
    border-radius: 50px;
    border: 2px solid #73AD21;
    padding-top: 10px; 
    padding-bottom: 10px; 
    margin-top: 7px;
    width: 130px;
    /* height: 10px; */
    /* text-align: auto; */

  }